{
    {# ISO19139 Metadata Schema #}
    {#TODO: Improve ISO19139 base schema #}
    "mcf": {"version": 1.0},
    "metadata": {
        {% if record['identifier'] %}
            "identifier": "{{ record['identifier'] }}",
        {% else %}
            "identifier": "{{ record['id'] }}",
        {% endif %}
        "language": "es",
        "charset": "utf8",
        "datestamp": "{{ record['metadata_modified']|normalize_datetime }}",
        "dataseturi": "{{ record['representation_type']|get_raw_value_from_ckan_schema(ckan_schema, 'representation_type', 'dataset') }}"
    }
}